.img1,
.img2 {
  width: 40%;
}
.img1 img,
.img2 img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}
.imageAndButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0;
}

.button {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button button {
  background: var(--primary-color);
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 33px;
  cursor: pointer;
}

.button button:hover {
  background: var(--accent1-color);
}

.formAndImage {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  padding: 2rem;
  gap: 2rem;
  color: white;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.formContainer button {
  border: none;
  padding: 0.5rem 4rem;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  background: var(--accent1-color);
}

.formContainer button:hover {
  background: var(--accent2-color);
}

.input-type1 {
  height: 30px;
  width: 100%;
  padding-left: 0.5rem;
}

.msg-input {
  height: 100px;
  width: 100%;
  padding-left: 0.5rem;
}
