.img1,
.img2 {
  width: 400px;
  height: 320px;
  background: rgb(223, 223, 223);
}

.imageAndButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formAndImage {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(223, 223, 223);
  padding: 2rem;
  gap: 2rem;
}

.msg-input {
  height: 100px;
}
